.pagination{
    position: absolute;
    bottom: -5px;
    right: 220px;
    padding: 10px;
    cursor: pointer;
}

.pagination>button{
    background: rgb(168, 238, 240);
    display: flex;
    right: 0;
}

.pagination>button{
    display: flex;
    bottom: 6px;
}

.pagination>button{
    margin: 0 10px;
}